doctype html
html
    head
        title Amount for #{project} project 
        meta(http-equiv="refresh", content="300")
        link(rel="stylesheet", href="../css/style.css")
    body
        p=amount